$font-ar: "swissraNormal";
$font-en: "swissraNormal";

$font-path: "../fonts/";
$img-path: "../images/";

/*
titleFont22
font16Main
*/

// colors schema
$sideBarColor: #E8ECEC;
$Green004A4D: #004A4D;
$Gree06B490: #06B490;
$font44677A: #44677A;
$p-color: #666666;
$golden-color:#CCA079;
$black-color: #012D29;
$color606161: #606161;

$light-grey: #9C9C9C;
$headres-bg:#E5ECEC;



// font weight
$w-thin: 100; // (Hairline)
$w-extra-light: 200; // (Ultra Light)
$w-light: 300;
$w-normal: 400; // (Regular)
$w-medium: 500;
$w-semi-bold: 600; // (Semi Bold)
$w-bold: 700;
$w-extra-bold: 800; // (Ultra Bold)
$w-black: 900; //(Heavy)



//more 

$raduis-normal : 8px;